@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    font-family: 'Poppins', sans-serif;
}
img{
    max-width: 100%;
    max-height: 100%;
}
.my-container{
    @apply max-w-screen-lg mx-auto
}

.active{
    @apply mb-1 md:mb-0 font-medium bg-[#E32E6E] px-4 py-2 inline-block text-white rounded-sm;
}
.default{
    @apply mb-1 md:mb-0 font-medium px-4 py-2 inline-block rounded-sm;
}
.social-icons{
    @apply p-3 inline-block rounded-md hover:bg-[#E32E6E] mr-2 bg-slate-100 hover:text-white text-2xl;
}
.flex-center{
    @apply flex justify-center items-center;
}
.download-btn{
    @apply py-2 px-4 font-medium hover:text-white hover:bg-[#E32E6E] rounded-sm  lg:mt-0 flex items-center gap-2
}